a{
	color:#000;
	text-decoration:none;
}
.clr{
	clear:both;
}

.header{
	padding-top:40px;
}
.content {
	width:1000px;
	margin:0 auto;
}
h1{
	margin:10px 0 0px 20px;
	font-size:80px;
	color:#000;
	text-shadow:1px 1px 1px #fff;

}
h1 span{
	font-size:16px;
	text-transform:uppercase;
}
.more ul{
	text-transform:uppercase;
	font-size:13px;
	padding:50px 0px 30px 20px;
	height:30px;
	clear:both;
	
	width:830px;
	margin:0 auto;
}
.more ul li{
	float:left;
	margin:0px 2px;
}
.more ul li.selected a,
.more ul li.selected a:hover{
	background:#000;
	color:#fff;
	text-shadow:none;
}
.more ul li a{
	text-shadow:1px 1px 1px #fff;
	color:#555;
	background:#f7f7f7;
	padding:3px 6px;
	-moz-box-shadow:1px 1px 2px #aaa;
	-webkit-box-shadow:1px 1px 2px #aaa;
	box-shadow:1px 1px 2px #aaa;
}
.more ul li a:hover{
	background:#000;
	color:#fff;
	text-shadow:none;
}
.content{
	width:100%;
	position:relative;
}
