	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/07/2016 13:47
  	*/

@font-face {
  font-family: "Tu-Clase";
  src: url("../fonts/tu_clase_de_baile/tu_clase.eot");
  src: url("../fonts/tu_clase_de_baile/tu_clase.eot?#iefix") format("embedded-opentype"),
       url("../fonts/tu_clase_de_baile/tu_clase.woff") format("woff"),
       url("../fonts/tu_clase_de_baile/tu_clase.ttf") format("truetype"),
       url("../fonts/tu_clase_de_baile/tu_clase.svg#tu_clase") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Tu-Clase";
    src: url("../fonts/tu_clase_de_baile/tu_clase.svg#Flaticon") format("svg");
  }
}

[class^="icon_a-"]:before, [class*=" icon_a-"]:before,
[class^="icon_a-"]:after, [class*=" icon_a-"]:after {   
  font-family: Tu-Clase;
        /*font-size: 20px;*/
font-style: normal;
/*margin-left: 20px;*/
}

.icon_a-asistencia:before { content: "\f100"; }
.icon_a-bailar:before { content: "\f101"; }
.icon_a-certificados:before { content: "\f102"; }
.icon_a-clases-grupales:before { content: "\f103"; }
.icon_a-clases-personalizadas:before { content: "\f104"; }
.icon_a-compania-de-baile:before { content: "\f105"; }
.icon_a-eventos:before { content: "\f106"; }
.icon_a-invitados-especiales:before { content: "\f107"; }
.icon_a-patrocinante:before { content: "\f108"; }
.icon_a-representante:before { content: "\f109"; }
.icon_a-tecnologia:before { content: "\f10a"; }