RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.tuclasedebaile.com.co$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule (.*)$ http://tuclasedebaile.com.co/$1 [R=301,L]
